@using GovUkDesignSystemDotNet

@{
    ViewBag.Title = "Interactive components";
}

@section BeforeMain
{
    @await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Home"),
                Href = Url.Action("Index", "Home")
            },
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Interactive components"),
            },
        }
    })
}

<h1 class="govuk-heading-l">
    Interactive components
</h1>

<p class="govuk-body">
    Read more about
    <a href="https://design-system.service.gov.uk/components/"
       class="govuk-link">
        <b>
            components
        </b>
        on the Gov.UK Design System website
    </a>
</p>

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="@(Url.Action("CharacterCountFor", "InteractiveComponents"))"
           class="govuk-link">
            Character count for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("CheckboxesFor", "InteractiveComponents"))"
           class="govuk-link">
            Checkboxes for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("CheckboxesFromStringsFor", "InteractiveComponents"))"
           class="govuk-link">
            Checkboxes from strings for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("ErrorSummaryIfNeeded", "InteractiveComponents"))"
           class="govuk-link">
            Error summary if needed
        </a>
    </li>
    <li>
        <a href="@(Url.Action("FileUploadFor", "InteractiveComponents"))"
           class="govuk-link">
            File upload for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("RadiosFor", "InteractiveComponents"))"
           class="govuk-link">
            Radios for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("TextareaFor", "InteractiveComponents"))"
           class="govuk-link">
            Textarea for
        </a>
    </li>
    <li>
        <a href="@(Url.Action("TextInputFor", "InteractiveComponents"))"
           class="govuk-link">
            Text input for
        </a>
    </li>
</ul>
