@using GovUkDesignSystemDotNet

@{
    ViewBag.Title = "Components";
}

@section BeforeMain
{
    @await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Home"),
                Href = Url.Action("Index", "Home")
            },
            new CrumbViewModel
            {
                HtmlOrText = new HtmlOrText("Components"),
            },
        }
    })
}

<h1 class="govuk-heading-l">
    Components
</h1>

<p class="govuk-body">
    Read more about
    <a href="https://design-system.service.gov.uk/components/"
       class="govuk-link">
        <b>
            components
        </b>
        on the Gov.UK Design System website
    </a>
</p>

<h2 class="govuk-heading-m">
    Main components
</h2>

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="@(Url.Action("BackLink", "Components"))"
           class="govuk-link">
            Back link
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Button", "Components"))"
           class="govuk-link">
            Button
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Breadcrumbs", "Components"))"
           class="govuk-link">
            Breadcrumbs
        </a>
    </li>
    <li>
        <a href="@(Url.Action("CheckboxItem", "Components"))"
           class="govuk-link">
            Checkbox item (single checkbox)
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Checkboxes", "Components"))"
           class="govuk-link">
            Checkboxes
        </a>
    </li>
    <li>
        <a href="@(Url.Action("ErrorMessage", "Components"))"
           class="govuk-link">
            Error message
        </a>
    </li>
    <li>
        <a href="@(Url.Action("ErrorSummary", "Components"))"
           class="govuk-link">
            Error summary
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Fieldset", "Components"))"
           class="govuk-link">
            Fieldset
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Footer", "Components"))"
           class="govuk-link">
            Footer
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Header", "Components"))"
           class="govuk-link">
            Header
        </a>
    </li>
    <li>
        <a href="@(Url.Action("PhaseBanner", "Components"))"
           class="govuk-link">
            Phase banner
        </a>
    </li>
    <li>
        <a href="@(Url.Action("ServiceNavigation", "Components"))"
           class="govuk-link">
            Service navigation
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Tag", "Components"))"
           class="govuk-link">
            Tag
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Textarea", "Components"))"
           class="govuk-link">
            Textarea
        </a>
    </li>
    <li>
        <a href="@(Url.Action("TextInput", "Components"))"
           class="govuk-link">
            Text input
        </a>
    </li>
</ul>

<h2 class="govuk-heading-m">
    Sub-components
</h2>

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a href="@(Url.Action("Hint", "Components"))"
           class="govuk-link">
            Hint
        </a>
    </li>
    <li>
        <a href="@(Url.Action("Label", "Components"))"
           class="govuk-link">
            Label
        </a>
    </li>
</ul>
